<section class="header-section">
  <app-back-arrow></app-back-arrow>
  <!-- <button class="header-section__button button" [routerLink]="['add']">
    Add Container
  </button> -->
</section>
<section class="info-card-section">
  <div *ngIf="isCardLoading" class="loader-section">
    <div class="loader"></div>
  </div>
  <div *ngIf="!isCardLoading" class="location-info-card default-card">
    <p class="bold">{{ container?.name }}</p>
    <p>{{ container?.creationDate | date: "mediumDate" }}</p>
    <div class="location-info-card__button-row">
      <p>{{ container?.researcherName }}</p>
      <!-- <div class="location-info-card__button">
        <a [routerLink]="['info']">More Info </a>
      </div> -->
    </div>
  </div>
</section>
<section class="card-section">
  <h1 class="card-section__title bold">Children</h1>
  <div *ngFor="let container of childrenContainers" class="card-container">
    <div *ngIf="!isLoading" class="card-container__card default-card">
      <p>{{ container.name }}</p>
      <a
        class="card-container__card-icon"
        [routerLink]="['/containers', container.id]"
      >
        <fa-icon [icon]="faReceipt"></fa-icon>
      </a>
    </div>
  </div>
  <div *ngFor="let container of childrenContainers" class="card-container">
    <div *ngIf="!isLoading" class="card-container__card default-card">
      <p>{{ container.name }}</p>
      <a
        class="card-container__card-icon"
        [routerLink]="['/containers', container.id]"
      >
        <fa-icon [icon]="faReceipt"></fa-icon>
      </a>
    </div>
  </div>
  <div *ngIf="isLoading" class="loader-section">
    <div class="loader"></div>
  </div>
</section>
