<section class="header-section">
  <app-back-arrow></app-back-arrow>
  <button class="header-section__button button" [routerLink]="['add']">
    Add Container
  </button>
</section>
<section class="info-card-section">
  <div class="location-info-card default-card">
    <p class="bold">{{ container?.name }}</p>
    <p>{{ container?.creationDate | date: "mediumDate" }}</p>
    <div class="location-info-card__button-row">
      <p>{{ container?.researcherName }} fasdif jdsoifjasoifj</p>
      <div class="location-info-card__button">
        <a [routerLink]="['info']">More Info </a>
      </div>
    </div>
  </div>
</section>
<h2 class="bold">Last Uses</h2>
<section class="card-section">
  <div
    *ngFor="let container of childrenContainers | search: searchText"
    class="card-container"
  >
    <div class="card-container__card default-card">
      <p>{{ container.name }}</p>
      <a
        class="card-container__card-icon"
        [routerLink]="['/containers', container.id]"
      >
        <fa-icon [icon]="faReceipt"></fa-icon>
      </a>
    </div>
  </div>
  <div *ngIf="isLoading" class="loader-section">
    <div class="loader"></div>
  </div>
</section>
