<app-back-arrow></app-back-arrow>
<h1 class="bold">History</h1>
<section class="search-bar-section">
  <div class="search-bar-section__icon">
    <fa-icon [icon]="faSearch"></fa-icon>
  </div>
  <input
    class="search-bar-section__input"
    [(ngModel)]="searchText"
    name="searchText"
    type="text"
    placeholder="Search a product"
    autocomplete="off"
  />
</section>
<section class="card-section">
  <div *ngIf="isLoading" class="loader-section">
    <div class="loader"></div>
  </div>
  <div
    class="card-container"
    *ngFor="let use of lastProductUses | search: searchText"
  >
    <div class="card-container__card default-card">
      <p class="bold">{{ use.name }}</p>
      <p class="card-date">{{ use.usageDate | date: "fullDate" }}</p>
      <p class="card-quantity">{{ use.quantity }}{{ use.unit }}</p>
    </div>
  </div>
</section>
