.header-section {
    margin-bottom: 1em;

    display: flex;
    justify-content: space-between;
    
    &__button {
        border: none;
        border-radius: 1em;
        padding: 0.2em 0.8em 0.2em 0.8em;

        background-color: var(--cl-primary);
        color: var(--cl-tx-primary);
    }
}

.search-bar-section {
    display: flex;
    align-items: center;

    margin-block: 1em;

    &__icon {
        color: var(--cl-primary);
    }

    &__input {
        margin-left: 0.5em;
        padding-left: 0.8em;

        width: 100%;

        border: 2px solid var(--cl-primary);
        border-radius: 1em;
    }
}

.card-section {
    overflow-y: scroll;
    height: calc(var(--vh, 1vh) * 52);
}

.card-container {
    &__card {
        padding: 0.5em 1em 0.5em 1em;
        margin-bottom: 0.5em;

        display: flex;
        justify-content: space-between;
        gap: 1em;
    }

    &__card-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--cl-tx-primary);
    }
}

.error-message {
    text-align: center;
}

@media(min-height: 740px) {
    .card-section {
        height: calc(var(--vh, 1vh) * 57);
    }
}

@media(min-height: 844px) {
    .card-section {
        height: calc(var(--vh, 1vh) * 59);
    }
}

@media(min-height: 896px) {
    .card-section {
        height: calc(var(--vh, 1vh) * 60);
    }
}

@media(min-height: 900px) {
    .card-section {
        height: calc(var(--vh, 1vh) * 61);
    }
}