<section class="header-section">
  <app-back-arrow></app-back-arrow>
  <button class="header-section__button button" [routerLink]="['add']">
    Add Equipment
  </button>
</section>
<h1 class="bold">Location List</h1>
<section class="search-bar-section">
  <div class="search-bar-section__icon">
    <fa-icon [icon]="faSearch"></fa-icon>
  </div>
  <input
    class="search-bar-section__input"
    [(ngModel)]="searchText"
    name="searchText"
    type="text"
    placeholder="Search a location"
    autocomplete="off"
  />
</section>
<section>
  <div *ngIf="equipments.length > 0 && !isLoading" class="card-section">
    <div
      *ngFor="let equipment of equipments | search: searchText"
      class="card-container"
    >
      <div class="card-container__card default-card">
        <p>{{ equipment.name }}</p>
        <a
          class="card-container__card-icon"
          [routerLink]="['/equipment', equipment.id]"
        >
          <fa-icon [icon]="faReceipt"></fa-icon>
        </a>
      </div>
    </div>
  </div>
  <p *ngIf="equipments.length == 0 && !isLoading" class="error-message">
    There are no equipments.
  </p>
  <div *ngIf="isLoading" class="loader-section">
    <div class="loader"></div>
  </div>
</section>
