<app-spinner [isLoading]="isLoading"></app-spinner>
<div class="wrapper">
    <div class="container">
        <div class="header">
            <app-back-arrow></app-back-arrow>
            <div class="product-section">
                <button class="product-button" [routerLink]="['add-quantity']">Add Quantity</button>
            </div>
        </div>
        <div class="product-card">
            <div class="product-card__information">
                <h2 class="product-card__information__title bold">{{ product?.name }}</h2>
                <p class="product-card__information__location">{{ product?.location?.name }}</p>
                <p class="product-card__information__quantity">{{ product?.quantity }} {{ product?.unit }}</p>
            </div>
            <div class="product-card__button">
                <a [routerLink]="['info']">
                    <p>More Info</p>
                </a>
            </div>
        </div>
        <h2 class="sub-title bold">Last Uses</h2>
        <div class="uses-card-container">
            <div class="uses-card" *ngFor="let use of lastUses">
                <h3 class="card-user">{{ use.researcherName }}</h3>
                <div class="uses-information">
                    <p class="card-date">{{ use.useDate | date: 'mediumDate' }}</p>
                    <p class="card-quantity">{{ use.quantity }} {{ use.unit }}</p>
                </div>
            </div>
        </div>
        <div class="action-button">
            <button class="product-action-button product-button" [routerLink]="['use-product']">Use Product</button>
        </div>
    </div>
</div>