.container {
  --radius: 0.7rem;

  width: 90vw;
  display: grid;
  grid-auto-rows: auto;
}

.header {
  display: flex;
  margin-bottom: 1em;
}

.product-button {
  border: none;
  background-color: var(--cl-primary);
  color: white;
  border-radius: 3em;
  padding: 1em 2em 1em 2em;
  font-size: 0.8rem;
}

.product-section {
  margin-left: auto;
}

.product-card {
  display: grid;
  background-color: white;
  box-shadow: 0 0 1em rgba(180, 180, 180, 0.2);
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 1.5em;

  &__button {
    display: flex;

    &>a {
      margin-left: auto;
    }
  }
}

.sub-title {
  margin-bottom: 0.5em;
}

.uses-card-container {
  overflow-y: auto;
  height: 26vh;
}

.uses-card {
  font-size: 0.7em;
  display: flex;
  flex-basis: fit-content;
  background-color: white;
  box-shadow: 0 0 1em rgba(180, 180, 180, 0.2);
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 0.8em;
}

.uses-information {
  margin-left: auto;
}

.card-quantity {
  text-align: end;
}

.product-action-button {
  position: absolute;
  font-size: 1em;
  width: 80vw;
  bottom: 14vh;
  padding: 1em 2em 1em 2em;
}

@media (min-height: 670px) {
  .uses-card-container {
    height: 30vh;
  }
}

@media (min-height: 800px) {
  .uses-card-container {
    height: 36vh;
  }
}
