<section class="header-section">
  <app-back-arrow></app-back-arrow>
  <button class="header-section__button button" [routerLink]="['add']">
    Add Quantity
  </button>
</section>
<section class="info-card-section">
  <div *ngIf="isCardLoading" class="loader-section">
    <div class="loader"></div>
  </div>
  <div *ngIf="!isCardLoading" class="product-info-card default-card">
    <p class="bold">{{ product?.name }}</p>
    <p>{{ product?.location?.name }}</p>
    <div class="product-info-card__button-row">
      <p>{{ product?.quantity }} {{ product?.unit }}</p>
      <div class="product-info-card__button">
        <a [routerLink]="['info']">More Info </a>
      </div>
    </div>
  </div>
</section>
<section class="card-section">
  <h1 class="card-section__title bold">Last Uses</h1>
  <div *ngFor="let use of lastUses" class="card-container">
    <div *ngIf="!isLoading" class="card-container__card default-card">
      <p>{{ use.researcherName }}</p>
      <p>{{ use.useDate | date: "mediumDate" }}</p>
      <p>{{ use.quantity }} {{ use.unit }}</p>
    </div>
  </div>
  <div *ngIf="isLoading" class="loader-section">
    <div class="loader"></div>
  </div>
  <button class="action-button semi-bold" [routerLink]="['use-product']">
    Use Product
  </button>
</section>
