<app-spinner [isLoading]="isLoading"></app-spinner>
<div class="wrapper">
    <router-outlet></router-outlet>
    <div class="container header-container">
        <div class="header">
            <app-back-arrow></app-back-arrow>
            <div class="add-location-section">
                <button class="add-location-button" [routerLink]="['add']">Add Location</button>
            </div>
        </div>
        <h2 class="page-title">Location List</h2>
        <div class="search-bar">
            <div class="search-icon">
                <fa-icon [icon]="faSearch"></fa-icon>
            </div>
            <input class="search-input" [(ngModel)]="searchText" name="searchText" type="text"
                placeholder="Search a location">
        </div>
    </div>
    <div class="container card-container">
        <app-small-card *ngFor="let location of locations | search : searchText" title="{{ location.name }}"
            url="/locations/{{location.id}}/edit" [icon]="faPen"></app-small-card>
    </div>
</div>