<div [formGroup]="form">
  <label [attr.for]="question.key">{{ question.label }}</label>

  <div [ngSwitch]="question.controlType">
    <input
      *ngSwitchCase="'text'"
      [formControlName]="question.key"
      [id]="question.key"
      [type]="question.type"
    />

    <textarea
      *ngSwitchCase="'textarea'"
      [formControlName]="question.key"
      [id]="question.key"
    ></textarea>

    <div class="select-container" *ngSwitchCase="'dropdown'">
      <select [id]="question.key" [formControlName]="question.key">
        <option *ngFor="let opt of question.options" [value]="opt.key">
          {{ opt.value }}
        </option>
      </select>
      <span class="custom-arrow"></span>
    </div>

    <input
      *ngSwitchCase="'date'"
      type="datetime-local"
      [id]="question.key"
      [formControlName]="question.key"
      autocomplete="off"
    />

    <input
      *ngSwitchCase="'password'"
      type="password"
      [id]="question.key"
      [formControlName]="question.key"
      autocomplete="off"
    />
  </div>
</div>
