<app-spinner [isLoading]="isLoading"></app-spinner>
<div class="wrapper">
    <div class="container">
        <div class="back-arrow">
            <app-back-arrow></app-back-arrow>
        </div>
        <h2 class="page-title">Add Location</h2>
        <form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="form-grid">
            <input type="text" formControlName="name" placeholder="Name" class="grid-item" autocomplete="off">
            <div class="select-container">
                <select (change)="selectLocation($event)">
                    <option value="0">No Sublocation</option>
                    <option *ngFor="let location of locations" value="{{ location.id }}">{{ location.name }}</option>
                </select>
                <span class="custom-arrow"></span>
            </div>
            <textarea type="text" formControlName="description" placeholder="Description" class="grid-item"
                autocomplete="off"></textarea>
            <button type="submit" class="action-button">Add Location</button>
        </form>
    </div>
</div>