<app-spinner [isLoading]="isLoading"></app-spinner>
<div class="wrapper">
    <div class="container">
        <div class="back-arrow">
            <app-back-arrow></app-back-arrow>
        </div>
        <h2 class="page-title">Edit Product</h2>
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="form-grid">
            <input type="text" formControlName="name" placeholder="Name" class="grid-item">
            <div class="select-container">
                <select formControlName="location">
                    <option *ngFor="let location of locations" [ngValue]="location">
                        {{ location.name }}
                    </option>
                </select>
                <span class="custom-arrow"></span>
            </div>
            <textarea type="text" formControlName="description" placeholder="Description" class="grid-item"></textarea>
            <button type="submit" class="action-button">Save</button>
        </form>
    </div>
</div>