.form-section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 2em;
}

form {
    width: 100%;
    padding: 0 !important;
}

p {
    margin-bottom: 0.8em;
}

input {
    padding-left: 0.3em;
    margin-bottom: 0.6em;
    border-radius: 0.4em;
    border: 2px solid gray;
}

.action-button {
    margin-top: 0.6em;
    font-size: 1em;
    padding: 0.5em 4.5em 0.5em 4.5em;
    border: none;
    background-color: var(--cl-primary);
    color: white;
    border-radius: 3em;
}