<div *ngIf="isLoading" class="page-loader">
  <div class="loader"></div>
</div>
<section class="form-section">
  <div>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit(loginForm)"
      class="text-center border border-light p-5"
    >
      <p class="h4 mb-4">Sign in</p>
      <input
        type="email"
        formControlName="email"
        id="defaultLoginFormEmail"
        placeholder="E-mail"
        autocomplete="off"
      />
      <input
        type="password"
        formControlName="password"
        id="defaultLoginFormPassword"
        placeholder="Password"
        autocomplete="off"
      />
      <button class="action-button" type="submit">Sign in</button>
    </form>
  </div>
</section>
