<div *ngIf="isLoading" class="page-loader">
  <div class="loader"></div>
</div>
<section class="form-section">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit(loginForm)"
    class="text-center border border-light p-5"
  >
    <p class="bold f-s-3">Sign in</p>
    <input
      type="email"
      formControlName="email"
      placeholder="E-mail"
      autocomplete="off"
    />
    <input
      type="password"
      formControlName="password"
      placeholder="Password"
      autocomplete="off"
    />
    <button class="action-button" type="submit">Sign in</button>
  </form>
</section>
