.header-section {
    display: flex;
    gap: 1em;
    align-items: center;

    margin-bottom: 1em;
}

.equipment-description {
    margin-top: 1em;
    overflow: scroll;
    height: 56vh;
}

@media(min-height: 740px) {
    .equipment-description {
        height: 55vh;
    }
}

@media(min-height: 844px) {
    .equipment-description {
        height: 62vh;
    }
}

@media(min-height: 896px) {
    .equipment-description {
        height: 62vh;
    }
}

@media(min-height: 900px) {
    .equipment-description {
        height: 63vh;
    }
}