.header-container {
    width: var(--container-width);
    height: 15vh;
    display: grid;
    margin-bottom: 1em;
}

.back-arrow {
    height: 2.3em;
    margin-bottom: 1em;
}

.form-grid {
    display: grid;
}

.grid-item {
    margin-bottom: 0.7em;
    border: none;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(180, 180, 180, 0.2);
    padding: 0.8em;
}

.card-container {
    overflow-y: auto;
    width: var(--container-width);
    height: 65vh;
    padding-bottom: 1em;
}

.action-button {
    font-size: 1em;
    padding: 1em 2em 1em 2em;
    border: none;
    background-color: var(--cl-primary);
    color: white;
    border-radius: 3em;
}

.equipment-card {
    background-color: white;
    box-shadow: 0 0 1em rgba(180, 180, 180, 0.2);
    border-radius: 1em;
    padding: 1em 1em 0 1em;
    margin-bottom: 1em;
    
    &__information {
        font-size: 1.2em;
        margin-bottom: 0.8em;
        display: grid;
        align-items: center;

        &__title {
            margin-bottom: 0.5em;
        }

        &__description {
            color: #6B6B6B;
            margin-bottom: 0.5em;
        }
    }
}