<app-spinner [isLoading]="isLoading"></app-spinner>
<div class="wrapper">
    <router-outlet></router-outlet>
    <div class="container header-container">
        <div class="header">
            <app-back-arrow></app-back-arrow>
            <div class="add-organism-section">
                <button class="add-organism-button" [routerLink]="['add']">Add Organism</button>
            </div>
        </div>
        <h2 class="page-title">Organism List</h2>
        <div class="search-bar">
            <div class="search-icon">
                <fa-icon [icon]="faSearch"></fa-icon>
            </div>
            <input class="search-input" [(ngModel)]="searchText" name="searchText" type="text"
                placeholder="Search a location">
        </div>
    </div>
    <div class="card-container container">
        <app-small-card *ngFor="let organism of organisms | search : searchText" title="{{ organism.name }}"
            url="/organisms/{{ organism.id }}/edit"></app-small-card>
    </div>
</div>