.back-arrow {
    height: 2.3em;
    width: 2.3em;
    border-radius: 0.4em;
    background-color: white;
    border: 1px solid var(--cl-primary);
    box-shadow: 0 0 1em rgba(180, 180, 180, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-arrow > * {
    display: flex;
    justify-content: center;
    align-items: center;
}