.back-arrow {
    height: 100%;
    width: 2.3em;
    border-radius: 0.4em;
    background-color: white;
    box-shadow: 0 0 1em rgba(180, 180, 180, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}