<div class="header">
  <img src="../assets/logo.jpeg" alt="" />
  <div *ngIf="isLoggedIn" class="dropdown">
    <a id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      <fa-icon icon="user"></fa-icon>
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li>
        <a class="dropdown-item semi-bold" [routerLink]="['/change-password']"
          >Change Passowrd</a
        >
      </li>
      <li>
        <a class="dropdown-item semi-bold" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</div>
<div class="wrapper">
  <router-outlet></router-outlet>
</div>
<app-nav-bar></app-nav-bar>
<app-toasts></app-toasts>
