.wrapper {
    height: 85%;
    padding: 1em 1.5em 1em 1.5em;
}

.header {
    height: 8%;
    padding-inline: 1.5em;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header>img {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 70%;
}

a {
    color: black !important;
    text-decoration: none;
}

a:hover {
    color: black !important;
}

a:active {
    color: black !important;
}