.header-section {
    margin-bottom: 1em;

    display: flex;
    justify-content: space-between;

    &__button {
        border: none;
        border-radius: 1em;
        padding: 0.2em 0.8em 0.2em 0.8em;

        background-color: var(--cl-primary);
        color: var(--cl-tx-primary);
    }
}

.equipment-info-card {
    padding: 0.5em 1em 0.5em 1em;
}

.equipment-card {
    background-color: white;
    box-shadow: 0 0 1em rgba(180, 180, 180, 0.2);
    border-radius: 1em;
    padding: 1em 1em 0 1em;
    margin-bottom: 1em;

    &__information {
        font-size: 1.2em;
        margin-bottom: 0.8em;
        display: grid;
        align-items: center;

        &__description {
            color: #6B6B6B;
        }

        &__info {
            margin-left: auto;
            align-self: end;
        }
    }
}


.calendar {
    height: 28vh;
    overflow: scroll;
    padding-bottom: 1em;

    &__title {
        margin-bottom: 0.5em;
    }

    &__month {
        background-color: var(--cl-primary);
        border-radius: 3em;
        padding-left: 1em;
        color: white;
        margin-bottom: 0.4em;
    }

    &__day {
        background-color: #989ad6;
        border-radius: 3em;
        padding-left: 2em;
        color: white;
        margin-bottom: 0.4em;
    }

    &__time {
        padding-left: 3em;
        margin-bottom: 0.2em;
    }
}

.button-container {
    position: fixed;
    font-size: 0.9em;
    bottom: 10%;
    left: 5%;
}

.action-button {
    padding: 1em 2em 1em 2em;
    border: none;
    background-color: var(--cl-primary);
    color: white;
    border-radius: 3em;
}

@media (min-height: 670px) {
    .calendar {
        margin-top: 1em;
        height: 36vh;
    }
}

@media (min-height: 890px) {
    .calendar {
        margin-top: 1em;
        height: 38vh;
    }
}

@media (max-width: 360px) {
    .calendar {
        margin-top: 1em;
        height: 28vh;
    }
}