<section class="header-section">
  <app-back-arrow></app-back-arrow>
  <button class="header-section__button button" [routerLink]="['edit']">
    Edit Equipment
  </button>
</section>
<section class="info-card-section">
  <div *ngIf="isCardLoading" class="loader-section">
    <div class="loader"></div>
  </div>
  <div *ngIf="!isCardLoading" class="equipment-info-card default-card">
    <p class="bold">{{ equipment?.name }}</p>
    <p>{{ equipment?.description }}</p>
    <a [routerLink]="['info']">More Info </a>
  </div>
</section>
<div *ngIf="calendar.length != 0" class="calendar">
  <h2 class="semi-bold calendar__title">Calendar</h2>
  <div *ngFor="let month of calendar">
    <p class="calendar__month">{{ month.month | toMonthName }}</p>
    <div *ngFor="let day of month.days">
      <p class="calendar__day">{{ day.dayNumber }}</p>
      <div *ngFor="let appointment of day.appointments">
        <p class="calendar__time">
          {{ appointment.startDate | date: "hh:mm" }} to
          {{ appointment.endDate | date: "hh:mm" }}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="button-container">
  <button type="submit" class="action-button">Use</button>
  <button type="submit" class="action-button">History</button>
</div>
