.header-section {
    display: flex;
    gap: 1em;
    align-items: center;

    margin-bottom: 1em;
}

.card-section {
    overflow: scroll;
    height: 63vh;

    &__card {
        padding: 0.2em 1em 0.2em 1em;
        margin-bottom: 0.5em;
    }
}

@media(min-height: 740px) {
    .card-section {
        height: 66vh;
    }
}

@media(min-height: 844px) {
    .card-section {
        height: 69vh;
    }
}

@media(min-height: 896px) {
    .card-section {
        height: 68vh;
    }
}

@media(min-height: 900px) {
    .card-section {
        height: 71vh;
    }
}