.header-section {
    margin-bottom: 1em;

    display: flex;
    justify-content: space-between;

    &__button {
        border: none;
        border-radius: 1em;
        padding: 0.2em 0.8em 0.2em 0.8em;

        background-color: var(--cl-primary);
        color: var(--cl-tx-primary);
    }
}

.search-bar-section {
    display: flex;
    align-items: center;

    margin-block: 1em;

    &__icon {
        color: var(--cl-primary);
    }

    &__input {
        margin-left: 0.5em;
        padding-left: 0.8em;

        width: 100%;

        border: 2px solid var(--cl-primary);
        border-radius: 1em;
    }
}

.card-section {
    overflow-y: scroll;
    height: 55vh;
}

.card-container {
    &__card {
        padding: 0.2em 1em 0.2em 1em;
        margin-bottom: 0.5em;

        display: flex;
        justify-content: space-between;
    }

    &__card-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--cl-tx-primary);
    }
}

@media(min-height: 740px) {
    @-moz-document url-prefix() {
        .card-section {
            height: 55vh;
        }
    }

    .card-section {
        height: 57vh;
    }
}

@media(min-height: 844px) {
    @-moz-document url-prefix() {
        .card-section {
            height: 57vh;
        }
    }

    .card-section {
        height: 59vh;
    }
}

@media(min-height: 896px) {
    @-moz-document url-prefix() {
        .card-section {
            height: 60vh;
        }
    }

    .card-section {
        height: 62vh;
    }
}

@media(min-height: 900px) {
    @-moz-document url-prefix() {
        .card-section {
            height: 61vh;
        }
    }

    .card-section {
        height: 63vh;
    }
}