.simple-product-card {
    font-size: 0.9rem;
    padding: 1rem;
    margin-bottom: 0.5em;
    width: 100%;
    border-radius: var(--radius);
    background-color: white;
    display: flex;
    box-shadow: 0 0 1em rgba(180, 180, 180, 0.2);

    &__button {
        margin-left: auto;
    }

    &__icon {
        color: var(--cl-tx-primary);
    }
}