.header-container {
    width: var(--container-width);
    height: 15vh;
    display: grid;
    margin-bottom: 1em;
}

.back-arrow {
    height: 2.3em;
    margin-bottom: 1em;
}

.form-grid {
    display: grid;
}

.grid-item {
    margin-bottom: 0.7em;
    border: none;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(180, 180, 180, 0.2);
    padding: 0.8em;
}

.form-container {
    overflow-y: auto;
    width: var(--container-width);
    height: 65vh;
    padding-bottom: 1em;
}

.action-button {
    font-size: 1em;
    padding: 1em 2em 1em 2em;    
    border: none;
    background-color: var(--cl-primary);
    color: white;
    border-radius: 3em;
}

label {
    padding-left: 0.5em;
}

select {
    padding: 0.8em 4.5em 0.8em 0.8em;
    border: none;
    width: 100%;
    border-radius: 1em;
}

select::after {
    content: "";
    display: block;
}

.select-container {
    box-shadow: 0 0 1em rgba(180, 180, 180, 0.2);
    margin-bottom: 1em;
    position: relative;
}

.custom-arrow {
    border-radius: 0 1em 1em 0;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: #FAF9F6;
    height: 100%;
    width: 4em;
    pointer-events: none;
}

.custom-arrow::before {
    --size: 0.3em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
}