.header-section {
    margin-bottom: 1em;

    display: flex;
    justify-content: space-between;
    
    &__button {
        border: none;
        border-radius: 1em;
        padding: 0.2em 0.8em 0.2em 0.8em;

        background-color: var(--cl-primary);
        color: whitesmoke;
    }
}

.product-card {
    overflow: scroll;
    height: 64vh;
}

@media(min-height: 740px) {
    .product-card {
        height: 67vh;
    }
}

@media(min-height: 844px) {
    .product-card {
        height: 69vh;
    }
}

@media(min-height: 896px) {
    .product-card {
        height: 70vh;
    }
}

@media(min-height: 900px) {
    .product-card {
        height: 72vh;
    }
}