<section class="header-section">
  <app-back-arrow></app-back-arrow>
  <button class="header-section__button button" [routerLink]="['../edit']">
    Edit Product
  </button>
</section>
<section>
  <div *ngIf="!isLoading" class="product-card">
    <h1 class="bold f-s-2">{{ product?.name }}</h1>
    <p class="m-b-05">{{ product?.formula }}</p>
    <p class="m-b-05">{{ product?.location?.name }}</p>
    <p>{{ product?.quantity }}{{ product?.unit | lowercase }}</p>
    <p
      class="m-b-05"
      [ngStyle]="isExpired ? { color: 'red' } : { color: 'var(--cl-tx-primary)' }"
    >
      {{ product?.expirationDate | date: "fullDate" }}
    </p>
    <p>{{ product?.description }}</p>
  </div>
  <div *ngIf="isLoading" class="loader-section">
    <div class="loader"></div>
  </div>
</section>
