/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li, table,
tbody, thead, tr, th, td {
	caret-color: transparent;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	font-size: 1.2rem;
	background-color: var(--cl-bg);
}
html, body {
	width: 100vw;
	overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input:focus, textarea:focus, select:focus {
	outline: none;
}

/* Vars */
:root {
	--cl-bg: #FBFAFF;
	--cl-tx-primary: #2F2F2F;
	--cl-tx-secondary: #FBFAFF;
	--cl-primary-hsl: 188, 100%, 38%;
	--cl-primary: hsl(var(--cl-primary-hsl));
	--cl-secundary: #AAACF3;

    --radius: 0.7rem;
	--nav-bar-height: 10vh;
	--header-height: 10vh;
	--header-container-height: 25vh;
	--body-container-height: 55vh;
	--container-width:95vw;
}

button, input {
	font-size: inherit;
    font-family: inherit;
}

/* Loader */
.loader {
	border: 0.4em solid #f3f3f3;
	border-top: 0.4em solid var(--cl-primary);
	border-radius: 50%;
	width: 3em;
	height: 3em;
	animation: spin 0.8s linear infinite;
}

.loader-section {
	display: flex;
	justify-content: center;
}

.loader-section>.loader {
	margin-block: 1em;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* CSS */
.spaced-columns {
	display: flex;
	justify-content: space-between;
}

.bold {
	font-weight: 600;
}

.semi-bold {
    font-weight: 500;
}

.default-card {
	background-color: var(--cl-primary);
    color: var(--text-color);
    border-radius: 0.5em;
}

.page-loader {
    z-index: 9999;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(#000, 0.5);
}

.text-center {
	text-align: center;
}

/* SIZES */
.m-b-05 {
	margin-bottom: 0.5em;
}

.m-b-1 {
	margin-bottom: 1em;
}

.f-s-02 {
	font-size: 0.5em;
}

.f-s-05 {
	font-size: 0.9em;
}

.f-s-2 {
	font-size: 1.1em;
}

.f-s-3 {
	font-size: 1.4em;
}

/* FORMS */
.form-container {
    width: 100%;
    margin-top: 1em;
    overflow: scroll;
    height: 53vh;
}

@media(min-height: 740px) {
    .form-container {
        height: 55vh;
    }
}

@media(min-height: 844px) {
    .form-container {
        height: 58vh;
    }
}

@media(min-height: 896px) {
    .form-container {
        height: 62vh;
    }
}

@media(min-height: 900px) {
    .form-container {
        height: 61vh;
    }
}
