<app-spinner [isLoading]="isLoading"></app-spinner>
<div class="wrapper">
    <div class="container">
        <div class="card-header-info">
            <h2 class="card-header-info__title bold">Frequently Used</h2>
            <h2 class="card-header-info__button"><a href="">See All</a></h2>
        </div>
        <div class="product-card">
            <div class="product-card__info">
                <h3>{{ product?.productName }}</h3>
                <p class="product-card__location">{{ product?.locationName }}</p>
                <p class="product-card__quantity">{{ product?.quantity }}{{ product?.unit }}</p>
            </div>
            <div class="product-card__button">
                <a [routerLink]="['/products', product?.productId]">
                    <fa-icon class="product-card__icon" [icon]="faAngleRight"></fa-icon>
                </a>
            </div>
        </div>

        <h2 class="stock-title bold">Low in Stock</h2>
        <app-small-card class="small-product-card" title="Product Name" [icon]="faPen"></app-small-card>
        <app-small-card class="small-product-card" title="Product Name" [icon]="faPen"></app-small-card>

        <h2 class="stock-title bold">Next Transfers</h2>
        <div class="transfers-container">
            <app-small-card *ngFor="let container of containers" class="small-product-card" title="{{ container.name }}" [icon]="faPen"></app-small-card>
        </div>
    </div>
</div>