<section>
  <div class="spaced-columns">
    <h1 class="last-used-header__title bold">Last Used</h1>
    <span
      ><a [routerLink]="['/user-history']" class="semi-bold">See All</a></span
    >
  </div>
  <div *ngIf="isLoadingProductCard" class="loader-section">
    <div class="loader"></div>
  </div>
  <div
    *ngIf="!isLoadingProductCard && product != null"
    class="last-used-card default-card"
  >
    <div class="last-used-card__text-section">
      <p class="last-used-card__product bold">{{ product.productName }}</p>
      <p class="last-used-card__location">{{ product.locationName }}</p>
      <p class="last-used-card__quantity">
        Last used quantity: {{ product.quantity }}{{ product.unit }}
      </p>
    </div>
    <div class="last-used-card__button-section">
      <a
        class="last-used-card__button"
        [routerLink]="['/products', product.productId]"
      >
        <fa-icon class="last-used-card__icon" [icon]="faAngleRight"></fa-icon>
      </a>
    </div>
  </div>
  <p *ngIf="!isLoadingProductCard && product == null" class="f-s-05 m-b-1">
    There are no products available.
  </p>
</section>
<section>
  <div class="spaced-columns">
    <h1 class="bold">Next Transfers</h1>
    <span
      ><a [routerLink]="['/containers/next-transfers']" class="semi-bold"
        >See All</a
      ></span
    >
  </div>
  <div *ngIf="isLoadingNextTransfers" class="loader-section">
    <div class="loader"></div>
  </div>
  <div
    *ngIf="!isLoadingNextTransfers && containers.length > 0"
    class="cards-container"
  >
    <div
      *ngFor="let container of containers"
      class="cards-container__card default-card"
    >
      <div class="cards-container__header">
        <p class="semi-bold">{{ container.name }}</p>
        <p class="cards-container__info">
          {{ container.transferDate | date: "mediumDate" }}
        </p>
      </div>
      <a
        [routerLink]="['/containers', container.id]"
        class="cards-container__icon"
      >
        <fa-icon [icon]="faReceipt"></fa-icon>
      </a>
    </div>
  </div>
  <p
    *ngIf="!isLoadingNextTransfers && containers.length == 0"
    class="f-s-05 m-b-1"
  >
    There are no containers available.
  </p>
</section>
<section>
  <h1 class="bold">Low in Stock</h1>
  <div class="container-scroll" *ngIf="lowInStockProducts.length > 0">
    <div *ngIf="isLoadingLowInStock" class="loader-section">
      <div class="loader"></div>
    </div>
    <div *ngIf="!isLoadingLowInStock" class="cards-container">
      <div
        *ngFor="let product of lowInStockProducts"
        class="cards-container__card default-card"
      >
        <div class="cards-container__header">
          <p class="semi-bold">{{ product.name }}</p>
          <p class="cards-container__info">
            Quantity available: {{ product.quantity }}{{ product.unit }}
          </p>
          <p class="cards-container__info">
            Total used in the last three months:
            {{ product.quantityUsedInTheLastThreeMonths }}{{ product.unit }}
          </p>
        </div>
        <a
          [routerLink]="['/products', product.id]"
          class="cards-container__icon"
        >
          <fa-icon [icon]="faReceipt"></fa-icon>
        </a>
      </div>
    </div>
  </div>
  <p
  *ngIf="!isLoadingLowInStock && lowInStockProducts.length == 0"
  class="f-s-05 m-b-1"
>
  There are no products available.
</p>
</section>
