.last-used-card {
    display: flex;

    padding: 0.4em 0.5em;
    margin: 0.4em 0 1em 0;

    &__text-section {
        width: 80%;
    }

    &__product {
        font-size: 1.1em;
    }

    &__location {
        font-size: 0.9em;
    }

    &__quantity {
        font-size: 0.9em;
    }

    &__button-section {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__button-section>a>fa-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 2em;
        width: 2em;

        background-color: whitesmoke;
        border-radius: 0.4em;
    }

    &__icon {
        color: var(--cl-primary);
    }
}

.cards-container {
    margin: 0.4em 0 1em 0;

    &__card {
        padding: 0.4em 0.5em;
        margin-bottom: 0.4em;
        display: flex;
        justify-content: space-between;
    }

    &__header {
        width: 85%;
    }

    &__icon {
        width: 15%;
        color: whitesmoke;
        align-self: center;
        text-align: center;
    }

    &__info {
        font-size: 0.8em;
    }
}

.container-scroll {
    overflow-y: scroll;
    height: 23vh;
}

@media(min-height: 740px) {
    .container-scroll {
        height: 32vh;
    }
}

@media(min-height: 844px) {
    .container-scroll {
        height: 40vh;
    }
}

@media(min-height: 896px) {
    .container-scroll {
        height: 42vh;
    }
}

@media(min-height: 900px) {
    .container-scroll {
        height: 43vh;
    }
}
