<section class="header-section">
  <app-back-arrow></app-back-arrow>
</section>
<section>
  <h1 class="bold">Next Transfers</h1>
  <div class="card-container">
    <div *ngIf="isLoading" class="loader-section">
      <div class="loader"></div>
    </div>
    <div
      *ngIf="!isLoading"
      class="cards-container"
      infinite-scroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="1000"
      [scrollWindow]="false"
      (scrolled)="onScroll()"
    >
      <div
        *ngFor="let container of containers"
        class="cards-container__card default-card spaced-columns"
      >
        <div>
          <p class="semi-bold">{{ container.name }}</p>
          <p class="cards-container__info">
            {{ container.transferDate | date: "mediumDate" }}
          </p>
        </div>
        <a class="cards-container__icon">
          <fa-icon [icon]="faPen"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</section>
