.header-section {
    margin-bottom: 1em;
}

.cards-container {
    overflow: scroll;
    height: 60vh;
    margin-top: 0.5em;

    &__card {
        padding: 0.5em 1em 0.5em 1em;
        margin-bottom: 0.4em;
    }

    &__icon {
        align-self: center;
        color: var(--cl-tx-primary);
    }
}

@media(min-height: 740px) {
    .cards-container {
        height: 62vh;
    }
}

@media(min-height: 844px) {
    .cards-container {
        height: 64vh;
    }
}

@media(min-height: 896px) {
    .cards-container {
        height: 65vh;
    }
}

@media(min-height: 900px) {
    .cards-container {
        height: 68vh;
    }
}