<div *ngIf="isLoggedIn" class="footer">
  <div class="menu-icon">
    <fa-icon [routerLink]="['home']" [icon]="faHome"></fa-icon>
    <span class="f-s-02">Home</span>
  </div>
  <div class="menu-icon">
    <fa-icon [routerLink]="['products']" [icon]="faList"></fa-icon>
    <span class="f-s-02">Products</span>
  </div>
  <div class="menu-icon">
    <fa-icon [routerLink]="['user-history']" [icon]="faReceipt"></fa-icon>
    <span class="f-s-02">History</span>
  </div>
  <div class="menu-icon">
    <fa-icon [routerLink]="['menu']" [icon]="faBars"></fa-icon>
    <span class="f-s-02">Menu</span>
  </div>
</div>
