.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 2em 1.5em 2em;
    background-color: rgb(229, 229, 229);
    border-radius: 1em 1em 0 0;
    box-shadow: 0 0 1em rgba(180, 180, 180, 0.5);
}

a {
    text-decoration: none;
    color: var(--cl-tx-primary);
}